{% macro certiIndividaul(certImg, certName, certUrl) %}
          <div class="flex items-center text-left bg-gray-900 max-w-sm rounded mb-4">
          <div class="w-5/12">
            <div class="rounded">
              <img class="mx-auto" src="/assets/img/cert/{{ certImg }}" alt="" loading="lazy">
            </div>
          </div>
          <div class="flex w-7/12 flex-wrap justify-center p-3">
            <div class="w-full"><h4 class="text-xs md:text-sm font-sans font-regular my-2 text-white-l-ddev">{{ certName }}</h4></div>
            <div class="w-full"><a target="_blank" href="{{ certUrl }}" type="button" class="focus:outline-none text-green-ddev py-1 px-2 rounded-md border border-green-ddev ddev-hover-button" style="font-size: 10px;">Ver certificado</a></div>
          </div>
        </div>
{% endmacro %}

{% if certType == "dev" %}
  {% for certificado in certs.dev %}
    {{ certiIndividaul(certificado.img, certificado.name, certificado.url) }}
  {% endfor %}
{% elif certType == "mkt"  %}
  {% for certificado in certs.mkt %}
    {{ certiIndividaul(certificado.img, certificado.name, certificado.url) }}
  {% endfor %}
{% elif certType == "ent" %}
    {% for certificado in certs.ent %}
    {{ certiIndividaul(certificado.img, certificado.name, certificado.url) }}
  {% endfor %}
{%endif%}