---
layout: base
---
  {% if page.url == '/' %}
  <header class="mb-8 py-5 bg-gray-900 hidden">
  {%else%}
  <header class=" mb-8 py-5 bg-gray-900">
  {%endif%}
    <div class="{{globals.g_pageWidth}}">
      <h1 class="text-white-l-ddev md:text-4xl text-3xl" style="font-family: 'DotGothic16';"> <span class="text-green-ddev font-mono text-3xl">> </span>{{title}} _</h1>
    </div>
  </header>
<article class="{{ globals.g_pageWidth }}">
  {{ content | safe }}
</article>