
{% for post in collections.posts %}
      <div class="flex flex-wrap rounded">
        <div class="mx-auto rounded-md"><img class="mx-auto rounded-md" src="/assets/img/2021/04/demo.jpg" alt=""></div>
        <div class="py-3">
          <div class="flex justify-between text-sm font-mono text-green-ddev"><span>Marketing</span>   <span>{{ post.date | postDate }}</span></div>
          <a href="{{post.url}}"> <h3 class="my-1 text-white-ddev hover:text-white-l-ddev text-xl">{{post.data.title}}</h3></a>
          <p class="my-2 text-md font-serif">As easily as you can manage colors, you can also control the display, or not, the SVG icons.</p>
        </div>
      </div>
{% endfor %}
