---
layout: base
---
<article class="{{ globals.g_pageWidthPost }}">
  <header class="">
    <div class="">
      <h1 class="text-4xl font-serif">{{title}}</h1>
    </div>
    <div class="flex items-center max-w-sm mt-5">
      <div class="mr-5">
        <img class="w-10 h-10 object-cover rounded-full shadow-solid text-teal-400 ddev-hover-button" loading="lazy" src="https://media-exp1.licdn.com/dms/image/C5603AQFR93DWRj8Yvw/profile-displayphoto-shrink_400_400/0/1591367207702?e=1620864000&v=beta&t=nex3PSZLAtjAAO2sq_lVrSBbQGHW5ShXa2AP1QHkAc8" alt="Foto de autor Adan Uri Plata"/>
      </div>
      <div class="text-sm flex items-center flex-wrap font-mono">
        <p class="my-0 w-full">Adan Uri Plata</p>
        <p class="my-0 w-full">Oct-28-2020</p>
      </div>
    </div>
  </header>
  <section class="mt-10">
    {{ content | safe }}
  </section>
  <div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://distordev.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</article>