
{% for post in collections.posts %}
    {%if loop.first %}
      <div class="flex flex-wrap rounded col-span-2">
    {%else%}
      <div class="flex flex-wrap rounded self-start">
    {%endif%}
        <div class="mx-auto rounded-md">
          <a href="{{post.url}}"><img class="mx-auto rounded-md" src="/assets/img/{{post.data.cover}}" alt=""></a>
        </div>
        <div class="py-3">
          <div class="flex justify-between md:text-sm text-xs font-mono text-green-ddev flex-wrap">
            <span>{{ post.data.tags | hideTagPosts }}</span>   <time>{{ post.date | postDate }}</time>
            {# <span>{{ post.data.tags | hideTagPosts }}</span>   <time>{{ post.date | postDate }}</time> #}
          </div>
          <a href="{{post.url}}"><h3 class="my-2 text-white-ddev hover:text-white-l-ddev md:text-2xl text-base">{{post.data.title}}</h3></a>
          <p class="my-2 md:text-base text-sm font-serif ">{{post.data.excerpt}}</p>
        </div>
      </div>
{% endfor %}
