---
title: Blog
layout: page
eleventyNavigation: # Required if want to display in Main Nav Bar
  key: main # "main" is required
  title: Blog # as it will appear in the nav
  order: 3 # order to display in the nav (index = 1)
---

