---
title: Contacto
layout: page
eleventyNavigation: # Required if want to display in Main Nav Bar
  key: main # "main" is required
  title: Contacto # as it will appear in the nav
  order: 2 # order to display in the nav (index = 1)
seo:
  title: Contacto Desarrollo Web y MArketing Digital
  description: Iniciemos un proyecto contacta ahora
  siteImage: aqui/la(imagen) 
---