---
title: Formación Académica
layout: page
eleventyNavigation: 
  key: main 
  title: Formación y Cursos 
  order: 3
seo:
  title: Formación y Cursos 
  description: Me encuentro en constante aprendizaje, estos son los ultimos cursos que he tomado.
  siteImage: aqui/la(imagen)
---

<section class="md:my-18 my-0">
  <div>
    <p class="md:text-sm text-xs font-mono my-1 text-green-ddev"> <span class="text-3xl">👨‍💻</span> La tecnología,</p>
    <p class="md:text-4xl text-2xl leading-3 font-sans my-1"> industria que mas rápido</span><span class="text-green-ddev md:text-3xl text-xl"> avanza, cambia y mejora.</span></p>
    <p class="md:text-base text-sm my-2">El ser un <span class="text-green-ddev"> profesional </span> en tecnología <br> exige hacer de la <span class="text-green-ddev"> educación </span> continua un habito y parte de nuestro <span class="text-green-ddev"> trabajo diario. </span></p> 
  </div>
</section>

<section class=" mt-16 bg-gray-900">
  <h3 class="md:text-2xl text-xl text-center font-serif font-normal py-3"> Listado de últimos <br> cursos aprobados y certificaciones:</h3>
</section>

<section class="mt-12">
  <div class="my-16">
    <h4 class="md:text-left text-xl my-3">👨‍🎓 Ingeniería Desarrollo de Software</h4>
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 bg-gray-900 md:p-2 pl-0">
      {% set certType = 'dev' %} {#select certificatedType dev mkt ent #}
      {% include "components/cert.njk" %}
    </div>
  </div>
  <div class="my-16">
    <h4 class="md:text-left text-xl my-3">📈 Marketing</h4>
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 bg-gray-900 md:p-2 pl-0">
      {% set certType = 'mkt' %} {#select certificatedType dev mkt ent #}
      {% include "components/cert.njk" %}
    </div>
  </div>
  <div class="my-16">
    <h4 class="md:text-left text-xl my-3">👨‍🎓 Emprendimiento y Desarrollo Personal</h4>
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 bg-gray-900 md:p-2 pl-0">
      {% set certType = 'ent' %} {#select certificatedType dev mkt ent #}
      {% include "components/cert.njk" %}
    </div>
  </div>
</section>