---
title: Inicio
layout: page
seo: # SEO values are used for OG and will overwrite 'title' and 'excerpt' above
  title: Desarrollador Freelance
  description:
eleventyNavigation: # Required if want to display in Main Nav Bar
  key: main # "main" is required
  title: Inicio # as it will appear in the nav
  order: 1 # order to display in the nav (index = 1)
---
{# START Quien soy #}
<section class="md:pt-40 pt-8 min-h-screen">
  <div>
    <p class="text-green-ddev font-mono">Hola, soy</p>
    <h1 class="text-white-l-ddev text-6xl py-2" style="font-family: 'DotGothic16';">Adan Uri Plata</h1>
    <h2 class="text-3xl py-2">Construyo cosas para internet</h2>
      <div class="flex md:order-2 text-white-l-ddev align-middle">
        {% if globals.g_showFooterSocialIcons %}
          {% for site in social %}
            {% if site.url %}
              <a aria-label="Link to {{ site.platform }}" class="hover:{{ colors.socialIconsHoverCustom or colors.socialIconsHoverDefault }}" target="_blank" href="{{ site.url | url }}">
                {# {% svg site.platform, "mx-2 h-6 w-6 fill-current", site.platform, "footer" %} #}
                <img class="mx-2 h-5 w-5" src="/assets/svg/{{site.platform}}.svg" alt="icono de {{site.platform}}">
              </a>
            {% endif %}
          {% endfor %}
        {% endif %}
        <span>@distordev</span>
      </div>
      <p>Soy un <span class="text-green-ddev">Desarrollador Web</span> y <span class="text-green-ddev">Growth Marketer</span> con amplia experiencia en Wordpress y Google Ads </p>
      <br>
      <a href="#contacto" class="focus:outline-none text-green-ddev text-sm py-2.5 px-5 rounded-md border border-green-ddev ddev-hover-button ">Contactame ahora</a>
  </div>
</section>
{# END Quien soy #}


{# START ACERCA DE MI #}
<section class="md:mb-64 mb-36">
  <div class="">
    <h2 class="text-green-ddev font-mono">> <span class="text-white-l-ddev text-2xl py-2" style="font-family: 'DotGothic16';">Acerca de mi</span></h2>
    <div class="md:flex my-12 justify-around">
      <div class="md:w-1/2 w-full divide-y divide-white-l-ddev p-4">
        <div class="mb-10">
          <img class="mx-auto rounded-lg shadow-solid text-teal-400 ddev-hover-button w-40 h-40" loading="lazy" src="https://media-exp1.licdn.com/dms/image/C5603AQFR93DWRj8Yvw/profile-displayphoto-shrink_400_400/0/1591367207702?e=1620864000&v=beta&t=nex3PSZLAtjAAO2sq_lVrSBbQGHW5ShXa2AP1QHkAc8" alt="Acerca de mi Adan Uri Plata"/>
        </div>
        <div>
          <h5 class="text-center">Últimas tecnologías con las que he trabajado</h5>
          <div class="flex font-mono">
            <div class="w-1/2">
              <ul>
                <li>WordPress</li>
                <li>Google Ads</li>
                <li>Javascript</li>
              </ul>
            </div>
            <div class="w-1/2">
              <ul>
                <li>PHP</li>
                <li>Google Analytics</li>
                <li>HTML, CSS</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="md:w-1/2 w-full p-4">
        <p>👋  Soy Adan Uri Plata <br> <span class="text-green-ddev">Desarrollador web</span> formado en la Benemérita Universidad Autónoma de Puebla estudiando <span class="text-green-ddev">Ciencias de la Computación.</span>. </p>
        <p>Durante mi periodo de estudiante tome trabajos de medio tiempo principalmente en áreas de ventas y atención a cliente por lo cual desarrolle un gusto por el marketing.</p> 
        <p class="mb-5">Con el surgimiento del marketing digital me interese por la unión de la tecnología y le marketing. Cuento con más de 4 años de experiencia realizando desarrollo web así como planeando y ejecutando estrategias de marketing digital las campañas de google Ads son mi especialidad.</p>
        <a href="/formacion"><button type="button" class="focus:outline-none text-green-ddev text-sm py-2.5 px-5 rounded-md border border-green-ddev ddev-hover-button ">Ver Últimos Cursos Aprobados</button></a>
      </div>
    </div>
  </div>
</section>
{# END ACERCA DE MI #}


{# START EXPERIENCIA #}
<section class="md:mb-56 mb-36">
  <div>
    <h2 class="text-green-ddev font-mono">> <span class="text-white-l-ddev text-2xl py-2" style="font-family: 'DotGothic16';">Experiencia</span></h2>
    <div class="md:flex my-5 justify-around items-center">
      <div class="md:w-1/2 w-full px-5">
        <h4><span class="md:text-3xl">🏢</span> Más de <span class="text-green-ddev"> 4 años </span> de  <span class="text-green-ddev">experiencia</span> en la industria.</h4> 
        <p>Desde 2017 de manera profesional desarrollando y administrando para la web, e-commerce, landing pages, estrategias SEO asi como Campañas Publicitarias Digitales.</p>
        <p>Trabajando para Agencias Creativas, sus Clientes y como Freelancer.</p>
        <br>
        <a href="#portafolio"><button type="button" class="focus:outline-none text-green-ddev text-sm py-2.5 px-5 rounded-md border border-green-ddev ddev-hover-button ">Ver Portafolio</button></a>
      </div>
      <div class="md:w-1/2 w-full px-5">
        <div class="py-12">
          <div class="flex items-center font-mono divide-x divide-green-500 my-5 md:flex-nowrap	flex-wrap	">
            <div class="md:w-4/12 w-full px-5">
              <p class="text-xl md:text-base">Desarrollador Web 👨‍💻</p>
            </div>
            <div class="md:w-8/12 w-full px-5">
              <ul>
                <li>Maquetación web, HTML CSS Javascript, Tailwind</li>
                <li>Creación y modificacion de Temas Wordpress</li>
                <li>Web Master</li>
                <li>Creación de E-commerce</li>
              </ul>
            </div>
          </div>
          <div class="flex items-center font-mono divide-x divide-green-500 my-5 md:flex-nowrap	flex-wrap	">
            <div class="md:w-4/12 w-full px-5">
              <p class="text-xl md:text-base"> Marketing Digital 📈</p>
            </div>
            <div class="md:w-8/12 w-full px-5">
              <ul>
                <li>Estrategia SEM y SEO</li>
                <li>Tracking de seguimiento CRM, Google Analytics, Sitio Web</li>
                <li>Creación de nombre con Design Sprint</li>
                <li>Gestión y creación campañas Google Ads</li>
              </ul>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</section>
{# END EXPERIENCIA #}

{# START PROYECTOS #}
<section class="md:mb-64 mb-36" id="portafolio">
  <div class="mx-auto text-center">
    <header class="text-center mb-12">
      <h2 class="text-green-ddev font-mono">> <span class="text-white-l-ddev text-2xl py-2" style="font-family: 'DotGothic16';">Proyectos</span></h2>
      <p class="text-lg">Algunos de los últimos proyectos que he realizado</p>
    </header>
    <div class="grid md:grid-rows-2 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 md:gap-10 gap-6"> {% include "components/project.njk" %} </div>
  </div>
</section>

{# START CONTACTO #}
<section class="md:mb-32 mb-24" id="contacto">
  <div class="mx-auto text-center">
    <header class="text-center mb-12">
      <h2 class="text-green-ddev font-mono">> <span class="text-white-l-ddev text-2xl py-2" style="font-family: 'DotGothic16';">Contacto</span></h2>
      <p>Platiquemos, por correo <a href="mailto:adanuriplata@gmail.com"> adanuriplata@gmail.com</a>  o formulario.</p>
      <p>También estoy en redes sociales como @distordev</p>
    </header>
    <div class="mx-auto">
      <div class="mx-auto max-w-screen-sm md:p-12 p-5 bg-gray-900 hover:shadow-2xl rounded-lg">
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js" sync></script>
        <script>
          hbspt.forms.create({
	        region: "na1",
	        portalId: "5518085",
	        formId: "e66095e2-568a-4ddc-9fa3-8c9563e8571c"
          });
        </script>
      </div>
    </div>
  </div>
</section>
{# END CONTAVCTO #}

{# END PROYECTOS #}
{# <img class="bg-gray-100" src="{{ catpic }}" /> #}