<footer>
  <div class="{{ colors.footerCustom.barBg or colors.footerDefault.barBg }}">
    <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
      <div class="flex justify-center md:order-2 {{ colors.socialIconsCustom or colors.socialIconsDefault }}">
        {% if globals.g_showFooterSocialIcons %}

          {# Display Social icons from _data/social.json  #}
          {% for site in social %}
            {% if site.url %}
              <a aria-label="Link to {{ site.platform }}" alt="Link to {{ site.platform }}" class="hover:{{ colors.socialIconsHoverCustom or colors.socialIconsHoverDefault }}" target="_blank" href="{{ site.url | url }}">
                {# {% svg site.platform, "mx-2 h-6 w-6 fill-current", site.platform, "footer" %} #}
                <img class="mx-2 h-6 w-6" src="/assets/svg/{{site.platform}}.svg" alt="icono de {{site.platform}}">
                
              </a>
            {% endif %}
          {% endfor %}

        {% endif %}
      </div>
      <div class="mt-8 md:mt-0 md:order-1">
        <p class="text-center m-0 text-sm leading-6 {{ colors.footerCustom.text or colors.footerDefault.text }}">
          {# &copy; {{ build.timestamp | dateToFormat('yyyy') }}, {{ meta.siteName }} #}
          🚀 Diseño 🛠 Desarrollo - Adan Uri Plata &copy; 2021 {{ meta.siteName }}
        </p>
      </div>
    </div>
  </div>
</footer>