<footer>
  <div class="{{ colors.footerCustom.barBg or colors.footerDefault.barBg }}">
    <div class="max-w-screen-xl px-4 py-5 mx-auto sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
      <div class="container-Social md:order-2">
        <div class="mb-3 md:hidden">
        <a aria-label="Desktop Logo" href="/" class=" mx-auto {{ colors.logoCustom.desktop or colors.logoDefault.desktop }} hover:{{ colors.logoCustom.hover or colors.logoDefault.hover }}" alt="Desktop Logo">
              {# {% svg "distordev-svg", "fill-current h-8 hover:{{ colors.logoCustom.hover or colors.logoDefault.hover }}", "The Logo" %} #}
          <img class="h-14 mx-auto" src="/assets/svg/logo.svg" alt="icono de {{site.platform}}">
        </a>
        </div>
        <div class="flex justify-center {{ colors.socialIconsCustom or colors.socialIconsDefault }}">
          {% if globals.g_showFooterSocialIcons %}

            {# Display Social icons from _data/social.json  #}
            {% for site in social %}
              {% if site.url %}
                <a aria-label="Link to {{ site.platform }}" class="hover:{{ colors.socialIconsHoverCustom or colors.socialIconsHoverDefault }}" target="_blank" href="{{ site.url | url }}">
                  {# {% svg site.platform, "mx-2 h-6 w-6 fill-current", site.platform, "footer" %} #}
                  <img class="mx-2 h-6 w-6" src="/assets/svg/{{site.platform}}.svg" alt="icono de {{site.platform}}">
                
                </a>
              {% endif %}
            {% endfor %}

          {% endif %}
        </div>
        <div class="text-center mt-2 text-sm">@distordev</div>
      </div>
      <div class="mt-3 md:mt-0 md:order-1">
        <div class="flex flex-wrap max-w-sm mx-auto justify-center">
          <div class="md:block hidden">
            <a aria-label="Desktop Logo" href="/" class=" mx-auto {{ colors.logoCustom.desktop or colors.logoDefault.desktop }} hover:{{ colors.logoCustom.hover or colors.logoDefault.hover }}" alt="Desktop Logo">
              {# {% svg "distordev-svg", "fill-current h-8 hover:{{ colors.logoCustom.hover or colors.logoDefault.hover }}", "The Logo" %} #}
              <img class="h-14" src="/assets/svg/logo.svg" alt="icono de {{site.platform}}">
            </a>
          </div>
          <div>
            <p class="text-center m-0 md:text-sm text-xs leading-6 {{ colors.footerCustom.text or colors.footerDefault.text }}">

          {# &copy; {{ build.timestamp | dateToFormat('yyyy') }}, {{ meta.siteName }} #}
           &copy; {% year %} | Diseño 🚀 Desarrollo - Adan Uri Plata <br>
          <span class="text-xs text-left">🛠 con 
            <a href="https://www.11ty.dev/" target="_blank">11ty, </a> 
            <a href="https://tailwindcss.com/" target="_blank">Tailwind, </a> 
            <a href="https://github.com/alpinejs/alpine" target="_blank">Alpine.Js</a> 
          </span>
        </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>